#time-based-style {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#time-display {
    font-size: 2rem;
}

.aurore {
    background: #B875C7;
}

.matin {
    background: #6dabe4;
}

.apres-midi {
    background: rgb(55, 123, 206);   
}

.soiree {
    background: rgb(238, 30, 62);
}

.nuit {
    background: rgb(3, 3, 45);
}

